table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
#head1 {
    font-weight: bold;
    color: red;
}
#head2 {
    font-weight: bold;
    color: green;
}
#column1a,#column2a {
    background-color: lightgrey;
}
#column1b{
    background-color: lightgreen;
}
#column2b{
    background-color: pink;
}
